html {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

body {
  font-family: "Helvetica Neue", "Lato", monospace;
}

.app {
  margin: 16px auto 0 auto;
  width: fit-content;
}

canvas {
  border-radius: 8px;
}

.imageWrapper {
  width: fit-content;
}

.controlButtons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 8px;
}

.playPause {
  width: 100px;
}

#timeSlider {
  width: calc(100% - 120px);
}

table {
  border-collapse: collapse;
  margin: 8px;
}

#button, button {
  margin-right: 8px;
  border-radius: 7px;
  background-color: #45475a;
  color: #cdd6f4;
}

th, td {
  border: 1px solid white;
  padding: 8px;
}
